@model ProjetoCoreDash.Models.SubCategoria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar nova sub-categoria</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" name="SubCategoria.Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <select name="SubCategoria.CategoriaId" class="form-control categoria-select">
                    <option value="">Selecione...</option>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.Value">@categoria.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listar todos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
