@using ProjetoCore2.Factories;
@using System.Text.Json;
@model List<Modelo>

@{
    ViewData["Title"] = "Erro no pagamento";
}

<div class="text-center">

    <h6>Houve uma falha no seu pagamento!</h6>
    <p>É necessário refazer a inscrição. Ou se desejar, retorno ao site clicando no link abaixo.</p>
    <button class="btn btn-outline-primary">
        <a href="https://https://gppsd.org.br" target="_blank" style="margin-bottom: 16px;">Ir para o site</a>
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>